/* The Grid ---------------------- */
.otw-row, .otw-columns, .block-grid, .block-grid > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.otw-row {
  max-width: 100%;
  margin: 0 auto;
}
.otw-row .otw-row {
  width: auto;
  max-width: none;
  margin: 0 -10px;
}
.otw-row.otw-collapse .otw-column, .otw-row.otw-collapse .otw-columns {
  padding: 0;
}
.otw-row .otw-row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -10px;
}
.otw-row .otw-row.otw-collapse {
  margin: 0;
}

.otw-column, .otw-columns {
  float: left;
  min-height: 1px;
  padding: 0 10px;
  position: relative;
}
.otw-column.centered, .otw-columns.centered {
  float: none;
  margin: 0 auto;
}

[class*="otw-column"] + [class*="otw-column"]:last-child {
  float: right;
}

[class*="otw-column"] + [class*="otw-column"].end {
  float: left;
}

.otw-one, .otw-row .otw-one {
  width: 4.16667%;
}

.otw-two, .otw-row .otw-two {
  width: 8.33333%;
}

.otw-three, .otw-row .otw-three {
  width: 12.5%;
}

.otw-four, .otw-row .otw-four {
  width: 16.6%;
}

.otw-five, .otw-row .otw-five {
  width: 20.83333%;
}

.otw-six, .otw-row .otw-six {
  width: 25%;
}

.otw-seven, .otw-row .otw-seven {
  width: 29.16667%;
}

.otw-eight, .otw-row .otw-eight {
  width: 33.33333%;
}

.otw-nine, .otw-row .otw-nine {
  width: 37.5%;
}

.otw-ten, .otw-row .otw-ten {
  width: 41.66667%;
}

.otw-eleven, .otw-row .otw-eleven {
  width: 45.83333%;
}

.otw-twelve, .otw-row .otw-twelve {
  width: 50%;
}

.otw-thirteen, .otw-row .otw-thirteen {
  width: 54.16667%;
}

.otw-fourteen, .otw-row .otw-fourteen {
  width: 58.33333%;
}

.otw-fifteen, .otw-row .otw-fifteen {
  width: 62.5%;
}

.otw-sixteen, .otw-row .otw-sixteen {
  width: 66.66667%;
}

.otw-seventeen, .otw-row .otw-seventeen {
  width: 70.83333%;
}

.otw-eighteen, .otw-row .otw-eighteen {
  width: 75%;
}

.otw-nineteen, .otw-row .otw-nineteen {
  width: 79.16667%;
}

.otw-twenty, .otw-row .otw-twenty {
  width: 83.33333%;
}

.otw-twentyone, .otw-row .otw-twentyone {
  width: 87.5%;
}

.otw-twentytwo, .otw-row .otw-twentytwo {
  width: 91.66667%;
}

.otw-twentythree, .otw-row .otw-twentythree {
  width: 95.83333%;
}

.otw-twentyfour, .otw-row .otw-twentyfour {
  width: 100%;
}

.otw-row .otw-offset-by-one {
  margin-left: 4.16667%;
}

.otw-row .otw-offset-by-two {
  margin-left: 8.33333%;
}

.otw-row .otw-offset-by-three {
  margin-left: 12.5%;
}

.otw-row .otw-offset-by-four {
  margin-left: 16.66667%;
}

.otw-row .otw-offset-by-five {
  margin-left: 20.83333%;
}

.otw-row .otw-offset-by-six {
  margin-left: 25%;
}

.otw-row .otw-offset-by-seven {
  margin-left: 29.16667%;
}

.otw-row .otw-offset-by-eight {
  margin-left: 33.33333%;
}

.otw-row .otw-offset-by-nine {
  margin-left: 37.5%;
}

.otw-row .otw-offset-by-ten {
  margin-left: 41.66667%;
}

.otw-row .otw-offset-by-eleven {
  margin-left: 45.83333%;
}

.otw-row .otw-offset-by-twelve {
  margin-left: 50%;
}

.otw-row .otw-offset-by-thirteen {
  margin-left: 54.16667%;
}

.otw-row .otw-offset-by-fourteen {
  margin-left: 58.33333%;
}

.otw-row .otw-offset-by-fifteen {
  margin-left: 62.5%;
}

.otw-row .otw-offset-by-sixteen {
  margin-left: 66.66667%;
}

.otw-row .otw-offset-by-seventeen {
  margin-left: 70.83333%;
}

.otw-row .otw-offset-by-eighteen {
  margin-left: 75%;
}

.otw-row .otw-offset-by-nineteen {
  margin-left: 79.16667%;
}

.otw-row .otw-offset-by-twenty {
  margin-left: 83.33333%;
}

.otw-row .otw-offset-by-twentyone {
  margin-left: 87.5%;
}

.otw-row .otw-offset-by-twentytwo {
  margin-left: 91.66667%;
}

.otw-push-two {
  left: 8.33333%;
}

.otw-pull-two {
  right: 8.33333%;
}

.otw-push-three {
  left: 12.5%;
}

.otw-pull-three {
  right: 12.5%;
}

.otw-push-four {
  left: 16.66667%;
}

.otw-pull-four {
  right: 16.66667%;
}

.otw-push-five {
  left: 20.83333%;
}

.otw-pull-five {
  right: 20.83333%;
}

.otw-push-six {
  left: 25%;
}

.otw-pull-six {
  right: 25%;
}

.otw-push-seven {
  left: 29.16667%;
}

.otw-pull-seven {
  right: 29.16667%;
}

.otw-push-eight {
  left: 33.33333%;
}

.otw-pull-eight {
  right: 33.33333%;
}

.otw-push-nine {
  left: 37.5%;
}

.otw-pull-nine {
  right: 37.5%;
}

.otw-push-ten {
  left: 41.66667%;
}

.otw-pull-ten {
  right: 41.66667%;
}

.otw-push-eleven {
  left: 45.83333%;
}

.otw-pull-eleven {
  right: 45.83333%;
}

.otw-push-twelve {
  left: 50%;
}

.otw-pull-twelve {
  right: 50%;
}

.otw-push-thirteen {
  left: 54.16667%;
}

.otw-pull-thirteen {
  right: 54.16667%;
}

.otw-push-fourteen {
  left: 58.33333%;
}

.otw-pull-fourteen {
  right: 58.33333%;
}

.otw-push-fifteen {
  left: 62.5%;
}

.otw-pull-fifteen {
  right: 62.5%;
}

.otw-push-sixteen {
  left: 66.66667%;
}

.otw-pull-sixteen {
  right: 66.66667%;
}

.otw-push-seventeen {
  left: 70.83333%;
}

.otw-pull-seventeen {
  right: 70.83333%;
}

.otw-push-eighteen {
  left: 75%;
}

.otw-pull-eighteen {
  right: 75%;
}

.otw-push-nineteen {
  left: 79.16667%;
}

.otw-pull-nineteen {
  right: 79.16667%;
}

.otw-push-twenty {
  left: 83.33333%;
}

.otw-pull-twenty {
  right: 83.33333%;
}

.otw-push-twentyone {
  left: 87.5%;
}

.otw-pull-twentyone {
  right: 87.5%;
}

.otw-push-twentytwo {
  left: 91.66667%;
}

.otw-pull-twentytwo {
  right: 91.66667%;
}

#map_canvas img, .map_canvas img {
  max-width: none!important;
}

/* Nicolas Gallagher's micro clearfix */
.otw-row {
  *zoom: 1;
}
.otw-row:before, .otw-row:after {
  content: " ";
  display: table;
}
.otw-row:after {
  clear: both;
}

/* Block Grids ---------------------- */
/* These are 2-up, 3-up, 4-up and 5-up ULs, suited
for repeating blocks of content. Add 'mobile' to
them to switch them just like the layout grid
(one item per line) on phones

For IE7/8 compatibility block-grid items need to be
the same height. You can optionally uncomment the
lines below to support arbitrary height, but know
that IE7/8 do not support :nth-child.
-------------------------------------------------- */
.block-grid {
  display: block;
  overflow: hidden;
  padding: 0;
}
.block-grid > li {
  display: block;
  height: auto;
  float: left;
}
.block-grid.one-up {
  /* More unified spacing between blocks
  @if $i == 1 { margin: 0; }
  @if $i == 2 { margin: 0 -15px; }
  @if $i == 3 { margin: 0 -12px; }
  @if $i == 4 { margin: 0 -10px; }
  @else { margin: 0 -8px; }
  */
  margin: 0 -10px;
}
.block-grid.one-up > li {
  width: 100%;
  /* More unified spacing between blocks
  @if $i == 1 { padding: 0 0 15px; }
  @if $i == 2 { padding: 0 15px 15px; }
  @if $i == 3 { padding: 0 12px 12px; }
  @if $i == 4 { padding: 0 10px 10px; }
  @else { padding: 0 8px 8px; }
  */
  padding: 0 10px 10px;
}
.block-grid.two-up {
  /* More unified spacing between blocks
  @if $i == 1 { margin: 0; }
  @if $i == 2 { margin: 0 -15px; }
  @if $i == 3 { margin: 0 -12px; }
  @if $i == 4 { margin: 0 -10px; }
  @else { margin: 0 -8px; }
  */
  margin: 0 -10px;
}
.block-grid.two-up > li {
  width: 50%;
  /* More unified spacing between blocks
  @if $i == 1 { padding: 0 0 15px; }
  @if $i == 2 { padding: 0 15px 15px; }
  @if $i == 3 { padding: 0 12px 12px; }
  @if $i == 4 { padding: 0 10px 10px; }
  @else { padding: 0 8px 8px; }
  */
  padding: 0 10px 10px;
}
.block-grid.two-up > li:nth-child(2n+1) {
  clear: both;
}
.block-grid.three-up {
  /* More unified spacing between blocks
  @if $i == 1 { margin: 0; }
  @if $i == 2 { margin: 0 -15px; }
  @if $i == 3 { margin: 0 -12px; }
  @if $i == 4 { margin: 0 -10px; }
  @else { margin: 0 -8px; }
  */
  margin: 0 -10px;
}
.block-grid.three-up > li {
  width: 33.33333%;
  /* More unified spacing between blocks
  @if $i == 1 { padding: 0 0 15px; }
  @if $i == 2 { padding: 0 15px 15px; }
  @if $i == 3 { padding: 0 12px 12px; }
  @if $i == 4 { padding: 0 10px 10px; }
  @else { padding: 0 8px 8px; }
  */
  padding: 0 10px 10px;
}
.block-grid.three-up > li:nth-child(3n+1) {
  clear: both;
}
.block-grid.four-up {
  /* More unified spacing between blocks
  @if $i == 1 { margin: 0; }
  @if $i == 2 { margin: 0 -15px; }
  @if $i == 3 { margin: 0 -12px; }
  @if $i == 4 { margin: 0 -10px; }
  @else { margin: 0 -8px; }
  */
  margin: 0 -10px;
}
.block-grid.four-up > li {
  width: 25%;
  /* More unified spacing between blocks
  @if $i == 1 { padding: 0 0 15px; }
  @if $i == 2 { padding: 0 15px 15px; }
  @if $i == 3 { padding: 0 12px 12px; }
  @if $i == 4 { padding: 0 10px 10px; }
  @else { padding: 0 8px 8px; }
  */
  padding: 0 10px 10px;
}
.block-grid.four-up > li:nth-child(4n+1) {
  clear: both;
}
.block-grid.five-up {
  /* More unified spacing between blocks
  @if $i == 1 { margin: 0; }
  @if $i == 2 { margin: 0 -15px; }
  @if $i == 3 { margin: 0 -12px; }
  @if $i == 4 { margin: 0 -10px; }
  @else { margin: 0 -8px; }
  */
  margin: 0 -10px;
}
.block-grid.five-up > li {
  width: 20%;
  /* More unified spacing between blocks
  @if $i == 1 { padding: 0 0 15px; }
  @if $i == 2 { padding: 0 15px 15px; }
  @if $i == 3 { padding: 0 12px 12px; }
  @if $i == 4 { padding: 0 10px 10px; }
  @else { padding: 0 8px 8px; }
  */
  padding: 0 10px 10px;
}
.block-grid.five-up > li:nth-child(5n+1) {
  clear: both;
}
.block-grid.six-up {
  /* More unified spacing between blocks
  @if $i == 1 { margin: 0; }
  @if $i == 2 { margin: 0 -15px; }
  @if $i == 3 { margin: 0 -12px; }
  @if $i == 4 { margin: 0 -10px; }
  @else { margin: 0 -8px; }
  */
  margin: 0 -10px;
}
.block-grid.six-up > li {
  width: 16.66667%;
  /* More unified spacing between blocks
  @if $i == 1 { padding: 0 0 15px; }
  @if $i == 2 { padding: 0 15px 15px; }
  @if $i == 3 { padding: 0 12px 12px; }
  @if $i == 4 { padding: 0 10px 10px; }
  @else { padding: 0 8px 8px; }
  */
  padding: 0 10px 10px;
}
.block-grid.six-up > li:nth-child(6n+1) {
  clear: both;
}

